__pycache__
.env
info.txt
git_interface_(when we do-- git remote add origin url -- from here does the -- git push origan -- see origan comes form so -- git push origan main -- where main is in pic told).png